<table class="table table-striped">
  <thead>
    <tr>
      <th>Nmae</th>
      <th>Email</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <% users.forEach(function(user){%>
  <tr>
    <td><%=user.name%></td>
    <td><%=user.email%></td>
    <td><%=user.title%></td>
    <td><a href="/user/edit/<%=user.id%>">Edit</a></td>
  </tr>
  <%})%>
  <tr></tr>
</table>
